body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board{
    background-image: url("./img/flappybirdbg.png");
    z-index: 400;
}

button{
    font-size: large;
    border-radius: 60px;
    margin-top: 10px;
    padding: 2px 7px;
}
button:hover{
    background-color: rgba(209, 205, 205, 0.99);
    padding: 1px 6px;
}

#mass{
    color:white;
    width: 250px;
    height: 50px;
    border-radius: 70px;
    margin-left: 700px;
    margin-top: -400px;
    display: none;
    z-index: 10000;
}