 <div>
  <h1>Please enter name to get more information:</h1>
  <input id="firstname" [(ngModel)]="firstName" placeholder="First Name" />
  <button (click)="fetchUserDetails()">Get Details</button>

  <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>

  <div *ngIf="userDetails" class="user-details">
    <p><strong>Last Name:</strong> {{ userDetails.lastName }}</p>
    <p><strong>Age:</strong> {{ userDetails.age }}</p>
    <p><strong>Address:</strong> {{ userDetails.address }}</p>
    <p><strong>Phone:</strong> {{ userDetails.phone }}</p>
  </div>
</div>
